# /proc
type proc_swap, proc_type;
# Power
type debugfs_sched_features, debugfs_type, fs_type;
type proc_sysctl_autogroup, proc_type, fs_type;
type proc_sysctl_schedboost, proc_type, fs_type;
type proc_sysctl_compaction_proactiveness, proc_type, fs_type;
type sysfs_msm_subsys, sysfs_type, fs_type;


#slub-debug
type vendor_sysfs_slab_zshandle_storeuser, fs_type, sysfs_type;
type vendor_sysfs_slab_zspage_storeuser, fs_type, sysfs_type;

#
type netmgr_data_file, file_type, data_file_type;
type sysfs_gesture, fs_type, sysfs_type;