hal_client_domain(hal_camera_default, hal_configstore)
hal_client_domain(hal_camera_default, hal_graphics_allocator)

typeattribute hal_camera_default data_between_core_and_vendor_violators;
allow hal_camera self:capability sys_nice;
