# Required for FM
allow qti_init_shell self:socket create;

allow qti_init_shell vendor_radio_data_file:dir create_dir_perms;
allow qti_init_shell vendor_radio_data_file:file create_file_perms;

# Allow access to swapiness
allow qti_init_shell proc_swap:file { open write };

#allow configuring slub debug options
allow vendor_qti_init_shell vendor_sysfs_slab_zshandle_storeuser:file w_file_perms;
allow vendor_qti_init_shell vendor_sysfs_slab_zspage_storeuser:file w_file_perms;

allow qti_init_shell ctl_start_prop:property_service set;
allow qti_init_shell ctl_stop_prop:property_service set;
